SECRET_KEY=SECRET-KEY
DEBUG=BOOL-STATUS

EMAIL_ADDRESS=YOUR-HOST-EMAIL-ADDRESS
EMAIL_PASSWORD=YOUR-HOST-EMAIL-PASSWORD

DB_NAME=DB-NAME
DB_USER=DB-USERNAME
DB_PASSWORD=DB-PASSWORD
DB_HOST=DB-URL-HOST
DB_PORT=DB-PORT-HOST
