[Unit]
Description=DAPHNE GETWAY INTERFACE OF DJANGO APPS
After=network.target

[Service]
WorkingDirectory=~/webserver/Core
ExecStart=~/webserver/django-venv/bin/daphne -b 0.0.0.0 -p 8000 Core.asgi:application

[Install]
WantedBy=multi-user.target